<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book The Pink Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
</head>
<body>
<h1>The Pink Room</h1>

<form action="#" th:action="@{/room1}" th:object="${booking}" method="post">
    <div>
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" th:field="*{_startDate}"/>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" th:field="*{_startTime}"/>
    </div>

    <div>
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" th:field="*{_endDate}"/>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" th:field="*{_endTime}"/>
    </div>

    <div>
        <label for="bookerName">Name:</label>
        <input type="text" id="bookerName" th:field="*{_name}"/>
    </div>

    <input type="hidden" value="1" th:field="*{_room}" />

    <button name="submit"  type="submit">Book!</button>
</form>

</body>
</html>