<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book The Blue Room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"  />
</head>
<body>
<h1>The Blue Room</h1>

<form action="#" th:action="@{/room3}" th:object="${simpleBooking}" method="post">

    <h3 th:text="${simpleBooking.errorRead}"></h3>

    <div>
        <label for="bookerName">Name:</label>
        <input type="text" id="bookerName" th:field="*{name}"/>
    </div>

    <div>
        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" th:field="*{startTimeString}"/>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" th:field="*{startDateString}"/>
    </div>

    <div>
        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" th:field="*{endTimeString}"/>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" th:field="*{endDateString}"/>
    </div>

    <button name="submit" type="submit">Book!</button>
</form>

</body>
</html>