<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meeting Room Booking</title>
</head>
<body>

<h1 th:text="${user}"></h1>

<a href="/room1" value = "Room 1">
    <h3>1. The pink room</h3>
    <ul>
        <li>
            Projector
        </li>
        <li>
            5 person capacity
        </li>
        <li>
            Wheelchair Accessible
        </li>
    </ul>
</a>
<a href="/room2" value = "Room 2">
    <h3>2. The orange room</h3>
    <ul>
        <li>
            10 person capacity
        </li>
        <li>
            Phone
        </li>
        <li>
            TV Screen
        </li>
    </ul>
</a>
<a href="/room3" value = "Room 3">
<h3>3. The blue room</h3>
<ul>
    <li>
        2 person capacity
    </li>
    <li>
        Phone
    </li>
    <li>
        Wheelchair Accessible
    </li>
</ul>
</a>

</body>
</html>