<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Thanks For Booking</title>
</head>
<body>

<h1>Thank you for your booking!</h1>

<h2 th:text="'name: ' + ${simpleBooking.name}"></h2>
<h2 th:text="'start time: ' + ${simpleBooking.startTimeString}"></h2>
<h2 th:text="'start date: ' + ${simpleBooking.startDateString}"></h2>
<h2 th:text="'end time: ' + ${simpleBooking.endTimeString}"></h2>
<h2 th:text="'end date: ' + ${simpleBooking.endDateString}"></h2>
<h2 th:text="'room: ' + ${simpleBooking.room}"></h2>

<a href="/">Make another booking</a>

</body>
</html>