<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book The Pink Room</title>
</head>
<body>
    <h1>The Pink Room</h1>

    <form action="/myServlet" method="post">
        <div>
            <label for="startDate">Start Date:</label>
            <input type="date" name="startDate" id="startDate"/>
            <label for="startTime">Start Time:</label>
            <input type="time" name="startTime" id="startTime" />
        </div>

        <div>
            <label for="endDate">End Date:</label>
            <input type="date" name="endDate" id="endDate" />
            <label for="endTime">End Time:</label>
            <input type="time" name="endTime" id="endTime" />
        </div>

        <div>
            <label for="bookerName">Name:</label>
            <input type="text" name="bookerName" id="bookerName" />
        </div>

        <input type="hidden" value="1" name="room"/>

        <button type="submit">Book!</button>
    </form>

</body>
</html>