<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Book The Pink Room</title>
</head>
<body>
    <h1>The Pink Room</h1>

    <form action="#" th:action="@{/room1}" th:object="${booking}" method="POST">
        <div>
            <label for="startDate">Start Date:</label>
            <input type="date" name="startDate" id="startDate" th:field="*{_startDate}"/>
            <label for="startTime">Start Time:</label>
            <input type="time" name="startTime" id="startTime" th:field="*{_startTime}" />
        </div>

        <div>
            <label for="endDate">End Date:</label>
            <input type="date" name="endDate" id="endDate" th:field="*{_endDate}"/>
            <label for="endTime">End Time:</label>
            <input type="time" name="endTime" id="endTime" th:field="*{_endTime}"/>
        </div>

        <div>
            <label for="bookerName">Name:</label>
            <input type="text" name="bookerName" id="bookerName" th:field="*{_name}"/>
        </div>

        <input type="hidden" value="1" name="room" th:field="*{_room}"/>

        <button name="submit" value="0" type="submit">Book!</button>
    </form>

</body>
</html>